/* Custom CSS for Component pages */

.component-preview {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 5px;
  margin-bottom: 60px;
  margin-top: 30px;
}

.component-preview--grid {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 400px) {
  .component-preview--grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  .component-preview--grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.component-preview figure {
  margin: 0;
}

.component-preview figcaption,
.component-preview img {
  width: 100%;
}

@media (max-width: 486px) {
  .check {
    padding: 15px;
  }
}

.hero__title {
  font-weight: bolder;
  background: rgb(72, 72, 255);
  background: linear-gradient(
    135deg,
    rgba(72, 72, 255, 1) 29%,
    rgba(0, 212, 255, 1) 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.snackPlayer {
  overflow: hidden;
  background: #212121;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  height: 505px;
  width: 100%;
}
