/* your custom css */

:root {
  --primary: #5388d0;
}

body,
.mainContainer {
  background-color: #fff;
}

footer .sitemap .nav-home {
  width: 120px;
}

footer.nav-footer {
  background: #212121;
}

.copyright-logo-container {
  text-align: center;
  margin-bottom: 1em;
}

.copyright-logo-container a {
  opacity: 0.4;
  transition: opacity 300ms ease;
}

.copyright-logo-container a:hover {
  opacity: 1;
}

.navPusher {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: auto;
}

.navPusher > div {
  width: 100%;
}

#home-example {
  background: #fff;
}

.open-collective {
  padding-top: 20px;
  background: #f9f9f9;
}

.open-collective .subtitle {
  padding-top: 0;
  font-size: 18px;
}

.open-collective img {
  border-radius: 100%;
}

.backers-section {
  margin: 30px auto 60px;
  max-width: 600px;
}

.backers-section:last-child {
  margin-bottom: 30px;
}

.showcase {
  background: #fff;
  padding-top: 20px;
}

.mainContainer .wrapper blockquote p:first-child {
  padding-top: 0;
}

hr {
  margin-top: 30px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

/**
 * This is a fork of GHColors theme by Avi Aryan (http://aviaryan.in)
 * so that it works more nicely within the React Navigation docs.
 */

code[class*='language-'],
pre[class*='language-'] {
  color: #393a34;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 14px;
  line-height: 20px;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1.25rem;
  border-left: 4px solid var(--primary);
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border: 1px solid #dddddd;
  background-color: white;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.2em;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #fff;
  border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999988;
  font-style: italic;
}

.token.namespace {
  opacity: 0.7;
}

.token.string,
.token.attr-value {
  color: #e3116c;
}
.token.punctuation,
.token.operator {
  color: #393a34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
  color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
  color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}

.token.important,
.token.function,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.doc table {
  width: 80%;
}

.doc table tr:nth-of-type(2n + 1) {
  background: #eff7fd;
}

.doc tr th:nth-of-type(1) {
  width: 60%;
}

.lightBackground {
  background-color: #f9f9f9;
}

.wrapper {
  max-width: 1200px;
}

.fixedHeaderContainer header a[href='/react-native-elements/'] {
  max-width: 38px;
  overflow: hidden;
}

.fixedHeaderContainer header .logo {
  min-width: 174px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 735px) {
  .reactNavSearchWrapper input#search_input_react:focus,
  .reactNavSearchWrapper input#search_input_react:active {
    background: #7598c9;
    color: #fff;
  }
}

@media only screen and (min-width: 736px) {
  .fixedHeaderContainer header a[href='/react-native-elements/'] {
    max-width: unset;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1140px) {
  .docMainWrapper.wrapper {
    max-width: calc(100% - 40px);
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.container .wrapper .post h3 {
  margin-bottom: 0;
  margin-top: 24px;
}
