@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap');
* {
  font-family: 'Ubuntu', sans-serif;
  scrollbar-width: 8px;
  scrollbar-color: var(--ifm-hero-background-color);
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--ifm-hero-background-color); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100); /* color of the scroll thumb */
  border-radius: 1px; /* roundness of the scroll thumb */
  /* border: 1px solid #000066;  */ /* creates padding around scroll thumb */
}

:root {
  --ifm-color-primary: #2089dc;
  --ifm-color-primary-dark: #1d7bc6;
  --ifm-color-primary-darker: #1b74bb;
  --ifm-color-primary-darkest: #16609a;
  --ifm-color-primary-light: #3495e1;
  --ifm-color-primary-lighter: #3f9be3;
  --ifm-color-primary-lightest: #60ace8;

  --ifm-hero-background-color: #e9e9e9;

  --ifm-navbar-background-color: var(--ifm-hero-background-color);
}

:root[data-theme='dark'] {
  --ifm-color-primary: #60ace8;
  --ifm-color-primary-dark: #439de4;
  --ifm-color-primary-darker: #3596e2;
  --ifm-color-primary-darkest: #1d7dc9;
  --ifm-color-primary-light: #7dbbec;
  --ifm-color-primary-lighter: #8bc2ee;
  --ifm-color-primary-lightest: #b6d9f4;
  --ifm-hero-background-color: #273036;
}

.label {
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
  color: #ffffff;
  padding: 8px;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
}
.label.bug {
  background-color: #ee0701;
}
.label.bug-fix {
  background-color: #b60205;
}
.label.help {
  background-color: #128a0c;
}
.label.question {
  background-color: #cc317c;
}
.label.reply {
  background-color: #0052cc;
}
.label.docs {
  color: #000;
  background-color: #1d86b7;
}
.label.enhancement {
  background-color: #0052cc;
}
.label.first {
  background-color: #464eba;
}
.label.fixed {
  background-color: #cee3ce;
  color: #000;
}
.label.response {
  background-color: #d93f0b;
}
.label.new {
  background-color: #0e8a16;
}
.label.release {
  background-color: #5319e7;
}
.label.thoughts {
  background-color: #fbca04;
  color: #000;
}
.label.types {
  background-color: #e4b4f7;
  color: #000;
}
.label.wip {
  background-color: #1d76db;
}
.label.pr-submitted {
  background-color: #7621a8;
}
.label.tooling {
  background-color: #054c70;
}

.nav-footer .sitemap .nav-home {
  width: 140px;
}

.nav-footer .sitemap .nav-home img {
  max-width: 100%;
  height: auto;
}

.nav-footer .sitemap a {
  margin: 2px 0;
  padding-left: 0;
}

footer.nav-footer {
  background: #212121;
}

.copyright-logo-container {
  text-align: center;
  margin-bottom: 1em;
}

.copyright-logo-container a {
  opacity: 0.4;
  transition: opacity 300ms ease;
}

.copyright-logo-container a:hover {
  opacity: 1;
}

.navPusher {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: auto;
}

.navPusher > div {
  width: 100%;
}

#home-example {
  background: #fff;
}

.showcase-container {
  background: #f9f9f9;
  padding-bottom: 20px;
}

.showcase {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.showcase .link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  margin: 5px;
  padding: 5px;
}

.showcase .link img {
  max-height: 110px;
  padding: 20px;
  width: 110px;
  align-self: center;
}

.showcase .link .caption {
  line-height: 20px;
  height: 20px;
}

.open-collective {
  padding-top: 20px;
  background: #fff;
}

.open-collective .subtitle {
  padding-top: 0;
  font-size: 18px;
}

.backers-section {
  margin: 30px auto 60px;
  max-width: 600px;
}

.backers-section:last-child {
  margin-bottom: 30px;
}

.mainContainer .wrapper blockquote p:first-child {
  padding-top: 0;
}

hr {
  margin-top: 30px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.post table {
  width: 100%;
  display: table;
}

table.versions {
  width: auto;
}

.post table tr:nth-of-type(2n + 1) {
  background: #eff7fd;
}

.post tr th:nth-of-type(1) {
  width: 60%;
}

.lightBackground {
  background-color: #f9f9f9;
}

.wrapper {
  max-width: 1200px !important;
  margin: 0 auto;
}

.fixedHeaderContainer header a[href='/'] {
  max-width: 38px;
  overflow: hidden;
}

.fixedHeaderContainer header h3 {
  color: hsl(50, 100%, 70%);
}

.fixedHeaderContainer header .logo {
  min-width: 174px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 735px) {
  .reactNavSearchWrapper input#search_input_react:focus,
  .reactNavSearchWrapper input#search_input_react:active {
    background: #7598c9;
    color: #fff;
  }
}

@media only screen and (min-width: 736px) {
  .fixedHeaderContainer header a[href='/'] {
    max-width: unset;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1140px) {
  .docMainWrapper.wrapper {
    max-width: calc(100% - 40px);
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.container .wrapper .post h3 {
  margin-bottom: 0;
  margin-top: 24px;
}

h3 ~ ul,
h3 ~ pre,
h3 ~ blockquote {
  margin-top: 1rem;
}

.mainContainer .wrapper ul li {
  line-height: 1.7;
  max-width: 50rem;
}

.projectTitle {
  margin-top: 2rem;
}

.home .mainContainer {
  padding-bottom: 0;
}

a.hash-link ~ code {
  display: inline-block;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .docsNavContainer {
    min-width: 240px;
    flex: unset;
    margin-bottom: 2rem;
  }
}

a code {
  font-size: 100%;
}

.snack-player {
  height: 500px;
}
